<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      <a href="<%= url("contacts/#{contact.id}") %>">
        <%= contact.name %></a>
        - <%= contact.phone_number %></li>
  <% end %>
</ul>

<a href="<%= url("?page=#{@page - 1}") %>">Prev</a> |
<a href="<%= url("?page=#{@page + 1}") %>">Next</a>
